.chart {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -6px 0px 98px -12px rgba(0,0,0,0.89);
    -webkit-box-shadow: -6px 0px 98px -12px rgba(0,0,0,0.89);
    -moz-box-shadow: -6px 0px 98px -12px rgba(0,0,0,0.89);
}

.chartTitle {
    margin-bottom: 20px;
}