.widgetSmall {
    flex: 1;
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-right: 20px;
}

.widgetSmallTitle {
    font-size: 32px;
    font-weight: 600;
}

.widgetSmallImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.widgetSmallList {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmallListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}
.widgetSmallUser {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.widgetSmallUsername {
    font-size: 20px;
    font-weight: 600;
}

.widgetSmallUserTitle {
    font-size: 15px;
    color: gray;
}

.widgetSmallButton {
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 7px 10px;
    background-color: #eeeef7;
    color: #555;
    cursor: pointer;
}

.widgetSmallIcon {
    font-size: 16px;
    margin-right: 5px;
}
